<div class="uk-container">
  <form [formGroup]="_removeForm" (ngShow)="_removeForm">
    <fieldset class="uk-fieldset">
      <div class="uk-margin">
        <legend class="uk-legend">Cédula del Usuario</legend>
        <input class="uk-input document_content_input" type="text" placeholder="P.e.: 254445123 / 25.254.2532" [ngClass]="
              {'uk-form-danger':(
                !_removeForm.controls.document_content.pristine
                && !_removeForm.controls.document_content.valid
                )
              }
              "
          [value]="_removeForm.controls.document_content.value | documentFormatPipe:'CI':_removeForm.controls.document_content"
          formControlName="document_content">
      </div>
    </fieldset>
  </form>
  <div class="uk-margin uk-grid">
    <div class="uk-width-1-2">
      <button class="uk-button uk-button-primary" type="button" (click)="desincorporateAdmin()">Desincorporar</button>
    </div>
    <div class="uk-width-1-2">
      <button class="uk-button uk-button-secondary" type="button" (click)="cancel()">Cerrar</button>
    </div>
  </div>
</div>
