<div class='export-import-data'>
    <ul uk-accordion>
        <li>
            <a class="uk-accordion-title">Exportar Data</a>
            <div class="uk-accordion-content">
                <app-export-data></app-export-data>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title">Importar Data</a>
            <div class="uk-accordion-content">
                <app-import-data></app-import-data>
            </div>
        </li>
    </ul>
</div>
<!--
<div class="uk-grid uk-margin uk-margin-left uk-margin-right">
  <div class="uk-width-medium-1-1">
      <h2>Importar / Exportar Data</h2>
  </div>
  <div class="uk-width-medium-1-2 uk-margin-bottom">
      <div class="uk-panel">
        <h4 class="uk-panel-title">Exportar Data</h4>
        
      </div>
  </div>
  <div class="uk-width-medium-1-2 uk-margin-bottom">
      <div class="uk-panel">
          <h4 class="uk-panel-title">Importar Data</h4>
          <app-import-data></app-import-data>
      </div>
  </div>
</div>
-->